@media screen and (max-width: 700px) {
    .contentContainerBlock {
        flex-direction: column;
        overflow: auto !important;
    }

    #personBlock {
        width: 100%;
        border-right: none;
        border-bottom: 5px solid var(--light_border);
        min-height: 950px;
        margin-bottom: 20px;
    }

    #selectedGalleryTitle {
        font-size: 1.2em !important;
    }
}


@media screen and (min-height: 1925px) {
    #rootContainer {
        border-radius: 10px;
    }

    #personBlock {
        border-left: 5px solid var(--light_border);
        width: 389px;
    }

}