
.personPlate.cv_mode:has(#personName) {
  width: 345px;
  border-radius: 8px;
}

#personInformationBlock.cv_mode {
  justify-content: start;
}

.cv_iconLinks img {
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.1s ease;
  width: 36px;
  background: var(--background_light_person_block);
  box-shadow: 0 3px 2px var(--shadow_inset_info);
  padding: 2px;
}
.cv_iconLinks img:hover {
  filter: brightness(150%);
  transform: scale(1.1);
}

.personDescription.cv_mode {
  box-shadow: none;
  background: none;
  margin: 0;
}
.personDescription.cv_mode img {
  width: 32px;
}

.cv_main_description {
  width: 250px;
}
.cv_main_description ul {
  padding: 0 !important;
  margin: 0 !important;
  list-style-type: "\2014\2002" !important;
}

.cv_main_description .cv_skills {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: start;
  text-align: left;
}

.cv_main_description .cv_skills .starred li {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  text-align: left;
  width: 100%;
}

.cv_title {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 5px;
}