:root {
    --shadow_primary: #22222210;
    --text_primary: #333;
    --background_light_main: #FFFFFFB3;
    --background_light_person_block: #FFFFFF80;
    --light_border: #ebedf0;

    --banner_gradient: linear-gradient(45deg, #c29819, #f0b607);
    --avatar_background_gradient: linear-gradient(193deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 24%, rgba(255, 255, 255, 1) 69%, rgba(238, 238, 238, 1) 90%, rgba(254, 254, 254, 1) 100%);
}

* {}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    position: relative;
    height: 100vh;
    color: var(--text_primary);
}

#siteBackdrop {
    position: fixed;
    left: 0;
    top: 0;
    background: url(https://images.pexels.com/photos/1440476/pexels-photo-1440476.jpeg);
    background-size: cover;
    background-position: center 50%;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#rootContainer {
    position: relative;
    display: flex;
    width: 1920px;
    height: 100vh;
}

#siteBackdropInverter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    z-index: -1;
}

#siteBackdropInverter.active {
    filter: invert(100%)
}

.contentContainerBlock {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    box-sizing: content-box;
    background-color: var(--background_light_main);
    overflow: hidden;

    z-index: 0;
}


#personBlock {
    position: relative;
    width: 384px;
    background-color: var(--background_light_person_block);
    border-right: 5px solid var(--light_border);
    box-shadow: 5px 0 10px var(--shadow_primary);
}


#personBanner {
    background: var(--light_border);
    border: 5px solid var(--light_border);
    border-radius: 0 0 15px 15px;
    transition: all 0.3s ease;
    width: inherit;
    height: 160px;
}

#personBannerImg {
    background: url(../resources/svg/pattern_asanoha_90deg.svg), var(--banner_gradient);
    background-size: 115%;
    background-position: center 50%;
    border-radius: 15px;
    transition: inherit;
    height: inherit;
}

#personBanner:hover,
#personAvatarImg:hover {
    filter: brightness(110%);
    cursor: pointer;
}

#personAvatar {
    position: absolute;
    left: 50%;
    top: calc(160px - 64px);
    transform: translateX(-50%);
    width: 128px;
    height: 128px;
    border-radius: 50%;
    padding: 4px;
    overflow: hidden;
    background: var(--avatar_background_gradient);
    box-shadow: 0 5px 10px var(--shadow_primary);
}

#personAvatarImg {
    width: 100%;
    height: 100%;
    background: url(../resources/cherepkhed32.png);
    transition: all 0.3s ease;
    background-size: 130%;
    background-repeat: no-repeat;
    background-position: center 50%;
    border-radius: 50%;
}