#personBlock.kamon_mode {
  border-left: 5px solid var(--light_border);
  border-right: none;
  box-shadow: -5px 0 10px var(--shadow_primary);
  min-width: 450px;
}

.modeGalleryWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#titleModeNBack h1, #titleModeNBack h2, #titleModeNBack h3, #titleModeNBack h4, #titleModeNBack h5, #titleModeNBack h6 {
  font-family: 'Philosopher', 'Noto Serif JP', 'Noto Serif TC', 'Noto Serif Tangut', serif;
}
#titleModeNBack {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  
  width: 100%;
  height: 90px;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 4px solid var(--light_border);
  background: var(--background_light_mode_gallery);
  box-shadow: 0 3px 5px var(--shadow_primary);
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 1;
}
#linkBlock.galleryMode {
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

#titleModeLogo {
  width: 50px;
  margin-right: 15px;
  margin-left: 15px;
  filter: drop-shadow(0px 1px 1px var(--shadow_half)) drop-shadow(0px 1px 2px var(--shadow_half));
}

#titleModeGalleryGroups {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }

[data-gallery_groups] {
  position: relative;
  width: 90px;
  height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  z-index: 1;
  cursor: pointer;
}

[data-gallery_groups]:hover {
  filter: brightness(120%);
}
[data-gallery_groups]:active {
  filter: brightness(110%);
}

[data-gallery_groups]:not(.active):hover {
  filter: brightness(500%) sepia(1) saturate(1000%) hue-rotate(-30deg);
}

[data-gallery_groups]:not(.active):active {
  filter: brightness(110%);
}

[data-gallery_groups].active::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background: var(--kamon_red);
  z-index: -1;
}


[data-gallery_groups] img {
  transition: all 0.3s ease;
  width: 60px;
}

[data-gallery_groups].active img {
  filter: invert(100%);
}



#titleModeLogo:hover {
  filter: brightness(80%) sepia(1) saturate(500%) hue-rotate(180deg) drop-shadow(0px 1px 1px var(--shadow_half)) drop-shadow(0px 1px 2px var(--shadow_half));
}

#titleMode {
  display: flex;
  align-items: start;
  justify-content: start;
  width: 520px;
  font-weight: 800;
  margin: 0;
}

#galleryCounter {
  display: flex;
  font-weight: 800;
  font-size: 1.15em;
}

#galleryInfoBanner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  color: var(--text_light);
  background: var(--gallery_banner);
  box-shadow: inset 3px 3px 3px var(--gallery_emboss_up), inset -1px -1px 3px var(--gallery_emboss_down);
}

#galleryInfoBannerOrnate {
  position: absolute;
  width: 460px;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url('../resources/svg/header_ornate.svg') no-repeat;
  background-size: 100% 100%;
  filter: drop-shadow(0px -1px 1px var(--gallery_emboss_up)) drop-shadow(0px 1px 1px var(--gallery_emboss_down));

}

#galleryInfoBanner h1, #galleryInfoBanner h2, #galleryInfoBanner h3, #galleryInfoBanner h4, #galleryInfoBanner h5, #galleryInfoBanner h6 {
  padding-top: 8px;
  font-family: 'Philosopher', 'Noto Serif JP', 'Noto Serif TC', 'Noto Serif Tangut', serif;
  font-weight: 700; 
  text-shadow: 0 2px 4px var(--shadow_secondary);
}

#gallerySelectedItem {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 384px;
  background: var(--gallery_selected_bg) url('../resources/svg/pattern_yagasuri.svg') no-repeat;
  background-size: 121%;
  background-position: 45% 50%;
  border: 5px solid var(--gallery_selected_border);
  z-index: 1;
}

#gallerySelectedItem::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url('../resources/svg/pattern_yagasuri.svg') no-repeat;
  background-size: 121%;
  background-position: 19.8% 51%;
  transform: scaleY(-1);
  filter: brightness(98%) saturate(110%);
  z-index: 0;
}

#gallerySelectedItem::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-shadow: inset 0 0 100px var(--shadow_secondary), inset 0px 5px 5px var(--shadow_inset_info), inset 0px -5px 10px var(--shadow_inset_info);
  user-select: none;
  pointer-events: none;
  z-index: 1;
}

#gallerySelectedItem img {
  max-width: 70%;
  filter: drop-shadow(0px -2px 2px var(--gallery_emboss_up)) drop-shadow(0px -1px 0px #9c5235) drop-shadow(0px 2px 2px var(--gallery_emboss_down))drop-shadow(0px 2px 0px var(--gallery_emboss_down));
  z-index: 1;
  cursor: pointer;
}

#gallerySelectedItem img:hover {
  filter: brightness(110%) drop-shadow(0px -2px 2px var(--gallery_emboss_up)) drop-shadow(0px -1px 0px #9c5235) drop-shadow(0px 2px 2px var(--gallery_emboss_down))drop-shadow(0px 2px 0px var(--gallery_emboss_down));
}

#gallerySelectedItem img:active {
  filter: brightness(115%) drop-shadow(0px -2px 2px var(--gallery_emboss_up)) drop-shadow(0px -1px 0px #9c5235) drop-shadow(0px 2px 2px var(--gallery_emboss_down))drop-shadow(0px 2px 0px var(--gallery_emboss_down));
}

.gallerySelectedTranslatedName {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #eee;
  font-size: 1.2em;
  font-weight: 700;

  padding: 10px 2px 10px 1px;
  background: var(--gallery_banner);
  
  --s: 7px;
  z-index: 10;
}

.shadowDropWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0px 2px 2px var(--shadow_secondary));
  z-index: 10;
}

#galleryInfoSelectedTitle {
  width: 340px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  z-index: 10;
}

.shadowDropWrapper:has(#galleryFullTitle) {
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0px 2px 1px var(--gallery_emboss_down)) drop-shadow(0px -2px 1px var(--gallery_emboss_up));
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#galleryFullTitle {
  width: 450px;
  height: 74px;
  padding: 5px 20px 10px 20px !important;
  align-self: center;
  background: var(--gallery_banner);
  --s: 15px;
  opacity: 0;
  display: none;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#galleryFullTitle.active {
  opacity: 1;
  display: flex;
}


#gallerySelectedSubTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  width: 100%;
  margin: 15px;
}

.gallerySelectedBreakDecorator {
  height: 32px;
  display: inline-flex;
  opacity: 0.25;
  margin: 0 15px 0 15px;
}

.gallerySelectedBreakDecorator img {
  height: inherit;
}

#gallerySelectedCorners {
  position: absolute;
  width: 480px;
  height: 257px;
  bottom: 0;
  left: 0;
  opacity: 0.1;
  user-select: none;
  pointer-events: none;
  z-index: 1;
}

#gallerySelectedCorners::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: url('../resources/svg/ornate_corner.svg') no-repeat;
  background-size: 100% 100%;
  background-position: -130px -16px;
  transform: scaleY(-1);
  z-index: -1;
}

#gallerySelectedCorners::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: url('../resources/svg/ornate_corner.svg') no-repeat;
  background-size: 100% 100%;
  background-position: -130px -16px;
  transform: scaleY(-1) scaleX(-1);
  z-index: -1;
}

#galleryModeMainWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 100%;
}

.contentContainerBlock.galleryMode {
  height: 100%;
}


#galleryModeContent {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    background-color: var(--background_light_main);
    overflow: hidden;
    z-index: 0;
}

#galleyContentMain {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 70%;
  padding: 28px 0px 25px 35px;
}

#galleryContentHeader {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  height: 36px;
  z-index: 2;
}

#galleryGroupTitle {
  width: 128px;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 1.2em;
  font-weight: 800;
}

#galleryContentSearch {
  width: 384px;
  height: inherit;
  display: flex;
}

#galleryContentSearch input {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
  padding: 0 10px 0 10px;
  border: 1px solid var(--grey_border);
  background: var(--background_light_person_block);
  box-shadow: inset 0px 1px 2px var(--shadow_half);
}

#galleryContentSearch input:focus {
  outline: 3px solid var(--background_light_person_block);
}


#gallerySelectedItemBlockWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
}

#gallerySelectedItemBlock {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 480px;
  height: 780px;
  background: var(--background_light_person_block);
  border: 2px solid var(--light_border);
  box-shadow: 0 3px 5px var(--shadow_inset_info);
  border-radius: 10px;
  overflow: hidden;
}

.shadowDropWrapper:has(#gallerySelectedImageProps),
#gallerySelectedImageProps {
  width: 48px;
}
#gallerySelectedImageProps [data-imgprop] {
  font-family: sans-serif;
  text-align: center;
  padding: 1px 5px;
  background: var(--background_light_main);
  --s: 5px;
  display: none;
}

#galleryControlButtons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#galleryFiltersOpts {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 10px;
  height: inherit;
}

.filterOption {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'Material Icons';
  font-size: 1.75em;
  line-height: 1em;
  color: var(--text_mid_grey);
  cursor: pointer;
  user-select: none;
}

.filterOption:hover {
  color: var(--text_light);
  filter: drop-shadow(0px 0px 1px var(--shadow_secondary));
}

.filterOption.active, .filterOption:active {
  color: var(--kamon_red);
  filter: drop-shadow(0px 0px 1px var(--shadow_secondary));
}

.galleryContentGridWrapper {
  width: 100%;
  height: 95%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 28px 10px 0px 30px;
  box-sizing: border-box;
}

.contentGrid {
  position: relative;
  width: 99%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  row-gap: 30px;
  column-gap: 5px;
}

.galleryItemCommon.groupDisabled {
  display: none;
}

.galleryItemCommon {
  --rarity_color_black: linear-gradient(-25deg, #282828, #626262);
  --rarity_color_red: linear-gradient(-25deg, #d14b4b, #9a5151);
  --rarity_color_gold: linear-gradient(-25deg, #d1934b, #9a7251);
  --rarity_color_common: linear-gradient(-25deg, #96d069, #769566);
  --rarity_bg_gold: url();
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 128px;
  height: 170px;
  background: var(--background_light_main);
  border-radius: 8px;
  box-shadow: 0 2px 5px var(--shadow_inset_info);
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  z-index: 1;
  transition: all 0.1s ease;
  outline: 4px solid transparent;
}

.galleryItemCommon:hover {
  outline: 2px solid white;
  transform: scale(1.12);
}

.galleryItemCommon:active {
  transform: scale(1.05);
}

.galleryItemCommon.selected {
  outline: 2px solid white;
  animation: var(--rarity_animation) 5s ease infinite;
}



@keyframes selected_pulse_shadow {
  0% {
    box-shadow: 5px 0 15px #5fff2f, -5px -0 15px #5fff2f;
  }

  50%,
  85% {
    box-shadow: 5px 0 15px #5fff2f90, -5px -0 15px #5fff2f90;
  }

  100% {
    box-shadow: 5px 0 15px #5fff2f, -5px -0 15px #5fff2f;
  }
}



@keyframes selected_pulse_shadow_gold {
  0% {
    box-shadow: 5px 0 15px #ffb32fff, -5px -0 15px #ffb32fff;
  }

  50%, 85% {
    box-shadow: 5px 0 15px #ffb32f90, -5px -0 15px #ffb32f90;
  }

  100% {
    box-shadow: 5px 0 15px #ffb32fff, -5px -0 15px #ffb32fff;
  }
}

@keyframes selected_pulse_shadow_red {
  0% {
    box-shadow: 5px 0 15px #ff2f2fff, -5px -0 15px #ff2f2fff;
  }

  50%, 85% {
    box-shadow: 5px 0 15px #ff2f2f90, -5px -0 15px #ff2f2f90;
  }
  100% {
    box-shadow: 5px 0 15px #ff2f2fff, -5px -0 15px #ff2f2fff;
  }
}


@keyframes selected_pulse_shadow_black {
  0% {
    box-shadow: 5px 0 15px #000000, -5px -0 15px #000000;
  }

  50%,
  85% {
    box-shadow: 5px 0 15px #00000090, -5px -0 15px #00000090;
  }

  100% {
    box-shadow: 5px 0 15px #000000, -5px -0 15px #000000;
  }
}

.galleryItemCommon[rarity="gold"]::before {
  --rarity_color: var(--rarity_color_gold);
}
.galleryItemCommon[rarity="red"]::before {
  --rarity_color: var(--rarity_color_red);
}
.galleryItemCommon[rarity="black"]::before {
  --rarity_color: var(--rarity_color_black);
}

.galleryItemCommon.selected[rarity="gold"] {
  --rarity_animation: selected_pulse_shadow_gold;
}
.galleryItemCommon.selected[rarity="red"] {
  --rarity_animation: selected_pulse_shadow_red;
}
.galleryItemCommon.selected[rarity="black"] {
  --rarity_animation: selected_pulse_shadow_black;
}

.galleryItemCommon[rarity="common"]::before,
.galleryItemCommon:not([rarity])::before {
  --rarity_color: var(--rarity_color_common);
}


.galleryItemCommon.selected[rarity="common"],
.galleryItemCommon:not([rarity]) {
  --rarity_animation: selected_pulse_shadow;
}
.galleryItemCommon::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 140px;
  border-radius: 0 0 35px 0;
  top: 0;
  background: var(--rarity_color);
  z-index: -1;
}

.galleryItemImg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 140px;
  margin-bottom: 3px;
}

.galleryItemImg img {
  width: 80%;
  filter: drop-shadow(0px 1px 3px var(--shadow_tretiary));
}

.galleryItemTitle {
  width: 100%;
  font-weight: 800;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.galleryItemDescription {
  display: none;
}

#gallerySelectedDescription {
  width: 82%;
  height: 200px;
  padding: 0 15px 0 15px;
  font-size: 1em;
  overflow-y: auto;
  overflow-x: hidden;
}








