settings-check {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s ease;

  &:has([option_type="checkbox"]) {
    height: 24px;
  }

  &:hover,
  &:focus {
    cursor: pointer;
    filter: brightness(130%);
    outline: none
  }
  &.on_focus {
    font-size: 1.1em;
  }

  & *:hover {
    cursor: pointer;
  }
  
  & label {
    user-select: none;
  }
}

label {
  &:has(> [option_type="checkbox"]) {
    display: inline-flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
  }
  &:hover:has(> [option_type="checkbox"][disabled="true"]),
  [option_type="checkbox"][disabled="true"] {
    filter: grayscale(1);
    cursor: default;
  }
}

[option_type="checkbox"] {
  position: relative;
  display: inline-flex;
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1em;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid var(--grey_border);
  background: var(--background_light_person_block);
  box-shadow: inset 0px 1px 2px var(--shadow_half);
  transition: all 0.1s ease;

  &[disabled="true"] {
    filter: grayscale(1);
    background: lightgrey;
  }

  &[aria-checked="true"] {
    border: 2px solid var(--color_gold_hover_pre_light);
    background: var(--color_dark_gold);
    box-shadow: inset 0px -1px 2px var(--shadow_half), 0px 1px 1px var(--shadow_half);
  }
  
  &[aria-checked="true"]::after {
    content: '\2713';
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color_gold_light);
  }
}


/*
settings-check:focus [option_type="checkbox"] {
  border-width: 1px;
  outline: 3px solid var(--color_orange_gold);
}
*/
