:root {
  --rarity_color_mythical: linear-gradient(-25deg, #282828, #626262);
  --rarity_color_divine: linear-gradient(-25deg, #ebebeb, #bebebe);
  --rarity_color_legendary: linear-gradient(-25deg, #4bc6d1, #51859a);
  --rarity_color_great: linear-gradient(-25deg, #d14b4b, #9a5151);
  --rarity_color_grand: linear-gradient(-25deg, #d1934b, #9a7251);
  --rarity_color_elite: linear-gradient(-25deg, #d0cd69, #8d9566);
  --rarity_color_venerable: linear-gradient(-25deg, #d069a7, #95667d);
  --rarity_color_normal: linear-gradient(-25deg, #69a0d0, #668495);
  --rarity_color_common: linear-gradient(-25deg, #96d069, #769566);
  --rarity_color_inferior: linear-gradient(-25deg, #d1d1d1, #8f8f8f);

  --rarity_color_clan_mythical: linear-gradient(90deg, #28282850, #62626250, transparent);
  --rarity_color_clan_divine: linear-gradient(90deg, #bebebe50, #ebebeb50, transparent);
  --rarity_color_clan_legendary: linear-gradient(90deg, #51859a50, #4bc6d150, transparent);
  --rarity_color_clan_great: linear-gradient(90deg, #9a515150, #d14b4b50, transparent);
  --rarity_color_clan_grand: linear-gradient(90deg, #9a725150, #d1934b50, transparent);
  --rarity_color_clan_elite: linear-gradient(90deg, #8d956650, #d0cd6950, transparent);
  --rarity_color_clan_venerable: linear-gradient(90deg, #95667d50, #d069a750, transparent);
  --rarity_color_clan_normal: linear-gradient(90deg, #66849550, #69a0d050, transparent);
  --rarity_color_clan_common: linear-gradient(90deg, #76956650, #96d06950, transparent);
  --rarity_color_clan_inferior: linear-gradient(90deg, #8f8f8f50, #d1d1d150, transparent);
}

item-prop {
  --background: #FFFFFFB3;
  --rarity_color: var(--rarity_color_inferior);
  --rarity_color_clan: var(--rarity_color_clan_inferior);
  --selection_anim: selected_pulse_shadow;
  --image: url('../../../resources/svg/japan/Torii_small.svg');

  &[data-rarity="inferior"] {--rarity_color: var(--rarity_color_inferior);--rarity_color_clan: var(--rarity_color_clan_inferior);--selection_anim: selected_pulse_shadow;}
  &[data-rarity="common"] {--rarity_color: var(--rarity_color_common);--rarity_color_clan: var(--rarity_color_clan_common);--selection_anim: selected_pulse_shadow_uncommon;}
  &[data-rarity="normal"] {--rarity_color: var(--rarity_color_normal);--rarity_color_clan: var(--rarity_color_clan_normal);--selection_anim: selected_pulse_shadow_normal;}
  &[data-rarity="venerable"] {--rarity_color: var(--rarity_color_venerable);--rarity_color_clan: var(--rarity_color_clan_venerable);--selection_anim: selected_pulse_shadow_venerable;}
  &[data-rarity="elite"] {--rarity_color: var(--rarity_color_elite);--rarity_color_clan: var(--rarity_color_clan_elite);--selection_anim: selected_pulse_shadow_highnoble;}
  &[data-rarity="grand"] {--rarity_color: var(--rarity_color_grand);--rarity_color_clan: var(--rarity_color_clan_grand);--selection_anim: selected_pulse_shadow_gold;}
  &[data-rarity="great"] {--rarity_color: var(--rarity_color_great);--rarity_color_clan: var(--rarity_color_clan_great);--selection_anim: selected_pulse_shadow_red;}
  &[data-rarity="legendary"] {--rarity_color: var(--rarity_color_legendary);--rarity_color_clan: var(--rarity_color_clan_legendary);--selection_anim: selected_pulse_shadow_legendary;}
  &[data-rarity="divine"] {--rarity_color: var(--rarity_color_divine);--rarity_color_clan: var(--rarity_color_clan_divine);--selection_anim: selected_pulse_shadow_god;}
  &[data-rarity="mythical"] {--rarity_color: var(--rarity_color_mythical);--rarity_color_clan: var(--rarity_color_clan_mythical);--selection_anim: selected_pulse_shadow_black;}

  &[data-prop-category="ZH"] {--image: url('../../../resources/svg/china/禄_lù_or_子_zi_symbol---red.svg');}
  &[data-prop-category="KO"] {--image: url('../../../resources/svg/korea/Imperial_Seal_of_the_Korean_Empire.svg');}
  &[data-prop-category="VI"] {--image: url('../../../resources/svg/viet/');}


  position: relative;

  background: var(--background);
  border-radius: 8px;
  box-shadow: 0 2px 5px var(--shadow_22a29);
  overflow: hidden;
  transition: all 0.1s ease-in-out;
  outline: 2px solid transparent;
  cursor: pointer;
  z-index: 1;

  & img {
    user-select: none;
    pointer-events: none;
    
    &::before {
      display: none;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    background: var(--image) no-repeat;
    background-size: cover;
    z-index: -1;
  }

  &:hover, &:focus {
    outline-color: white;
  }

  &.selected {
    outline-color: white;
    animation: var(--selection_anim) 5s ease infinite;
  }

  & .item-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .item-title {
    width: 100%;
    align-items: center;
    font-weight: 800;
  }

  & .item-title__additional {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-inline-end: 12px;
    font-weight: 500;
  }

  & .item-description {
    grid-column: 2;
    grid-row: 2;
  }

  & .item-image__element {
    display: flex;
    filter: drop-shadow(0px 1px 1px var(--shadow_00a95));
  }

  & .item-icon {
    width: 32px;
    height: 32px;
    object-fit: contain;
  }


  &[data-prop-class="kamon"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 128px;
    height: 170px;
    user-select: none;

    &::before {
      width: 100%;
      height: 140px;
      border-radius: 0 0 35px 0;
      background: var(--rarity_color);
    }
    &::after {
      width: 100%;
      height: 140px;
      border-radius: 0 0 35px 0;
      top: 0;
      filter: invert(1);
      background-position: 50% 2px;
      mix-blend-mode: overlay;
      opacity: 0.2;
    }
    &:hover, &:focus {
      transform: scale(1.12);
    }

    &:active {transform: scale(1.05);}

    & .item-image-wrapper {
      width: 100%;
      height: 140px;
    }

    & .item-title {
      position: absolute;
      display: flex;
      bottom: 2.95px;
      justify-content: center;
    }
    & .item-image__element {
      width: 105px;
      object-fit: contain;
    }
  }



  &[data-prop-class="clans"] {
    display: grid;
    grid-template-columns: 360px 625px;
    grid-template-rows: 27% 1fr;
    gap: 0px 20px;
    width: 1024px;
    height: 190px;

    &::before {
      width: 640px;
      bottom: 0;
      background: var(--rarity_color_clan);
    }
    &::after {
      width: 400px;
      height: 300px;
      right: -95px;
      opacity: 0.03;
    }
    &:hover, &:focus {
      transform: scale(1.03);
    }
    &:active {transform: scale(1.01);}

    & .item-image-wrapper {
      height: inherit;
      grid-column: 1;
      grid-row: 1 / span 2;
    }

    & .item-title {
      display: inline-grid;
      grid-auto-columns: auto 1fr;
      grid-auto-flow: column;
      column-gap: 10px;
      font-size: 1.35rem;
      grid-column: 2;
      grid-row: 1;
      justify-content: start;

      &:has(.item-icon){
        grid-auto-columns: 32px auto 1fr;
      }
    }
    & .item-image__element {
      align-self: center;
      height: 170px;
      width: 350px;
      object-fit: cover;
      margin: 0 0 0 10px;
      border-radius: 10px;
    }
  }



  &[data-gallery-visible="hidden"] {
    display: none;
  }
  
}


@keyframes selected_pulse_shadow {
  0% {
    box-shadow: 5px 0 15px #8c8c8c, -5px -0 15px #8c8c8c;
  }

  50%,
  85% {
    box-shadow: 5px 0 15px #8c8c8c90, -5px -0 15px #8c8c8c90;
  }

  100% {
    box-shadow: 5px 0 15px #8c8c8c, -5px -0 15px #8c8c8c;
  }
}

@keyframes selected_pulse_shadow_uncommon {
  0% {
    box-shadow: 5px 0 15px #93ff2f, -5px -0 15px #93ff2f;
  }

  50%,
  85% {
    box-shadow: 5px 0 15px #93ff2f90, -5px -0 15px #93ff2f90;
  }

  100% {
    box-shadow: 5px 0 15px #93ff2f, -5px -0 15px #93ff2f;
  }
}

@keyframes selected_pulse_shadow_normal {
  0% {
    box-shadow: 5px 0 15px #69a0d0, -5px -0 15px #69a0d0;
  }

  50%,
  85% {
    box-shadow: 5px 0 15px #69a0d090, -5px -0 15px #69a0d090;
  }

  100% {
    box-shadow: 5px 0 15px #69a0d0, -5px -0 15px #69a0d0;
  }
}

@keyframes selected_pulse_shadow_venerable {
  0% {
    box-shadow: 5px 0 15px #d069a7, -5px -0 15px #d069a7;
  }

  50%,
  85% {
    box-shadow: 5px 0 15px #d069a790, -5px -0 15px #d069a790;
  }

  100% {
    box-shadow: 5px 0 15px #d069a7, -5px -0 15px #d069a7;
  }
}

@keyframes selected_pulse_shadow_highnoble {
  0% {
    box-shadow: 5px 0 15px #d0cd69, -5px -0 15px #d0cd69;
  }

  50%,
  85% {
    box-shadow: 5px 0 15px #d0cd6990, -5px -0 15px #d0cd6990;
  }

  100% {
    box-shadow: 5px 0 15px #d0cd69, -5px -0 15px #d0cd69;
  }
}

@keyframes selected_pulse_shadow_gold {
  0% {
    box-shadow: 5px 0 15px #ffb32fff, -5px -0 15px #ffb32fff;
  }

  50%,
  85% {
    box-shadow: 5px 0 15px #ffb32f90, -5px -0 15px #ffb32f90;
  }

  100% {
    box-shadow: 5px 0 15px #ffb32fff, -5px -0 15px #ffb32fff;
  }
}

@keyframes selected_pulse_shadow_red {
  0% {
    box-shadow: 5px 0 15px #ff2f2fff, -5px -0 15px #ff2f2fff;
  }

  50%,
  85% {
    box-shadow: 5px 0 15px #ff2f2f90, -5px -0 15px #ff2f2f90;
  }

  100% {
    box-shadow: 5px 0 15px #ff2f2fff, -5px -0 15px #ff2f2fff;
  }
}

@keyframes selected_pulse_shadow_legendary {
  0% {
    box-shadow: 5px 0 15px #2ffff8, -5px -0 15px #2ffff8;
  }

  50%,
  85% {
    box-shadow: 5px 0 15px #2ffff890, -5px -0 15px #2ffff890;
  }

  100% {
    box-shadow: 5px 0 15px #2ffff8, -5px -0 15px #2ffff8;
  }
}

@keyframes selected_pulse_shadow_god {
  0% {
    box-shadow: 5px 0 15px #ffffff, -5px -0 15px #ffffff;
  }

  50%,
  85% {
    box-shadow: 5px 0 15px #ffffff90, -5px -0 15px #ffffff90;
  }

  100% {
    box-shadow: 5px 0 15px #ffffff, -5px -0 15px #ffffff;
  }
}

@keyframes selected_pulse_shadow_black {
  0% {
    box-shadow: 5px 0 15px #000000, -5px -0 15px #000000;
  }

  50%,
  85% {
    box-shadow: 5px 0 15px #00000090, -5px -0 15px #00000090;
  }

  100% {
    box-shadow: 5px 0 15px #000000, -5px -0 15px #000000;
  }
}