@layer element {
  tooltip-element {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    filter: drop-shadow(0 5px 10px var(--shadow_22a29)) drop-shadow(0 2px 1px var(--shadow_22a29));
    font-family: var(--font_common_set);
    transition: all 0.1s ease;
    opacity: 0;
    user-select: none;
    pointer-events: none;
    cursor: pointer;
    z-index: 1080;
    overscroll-behavior: contain;
    & * {overscroll-behavior: inherit;}

    &.tl-highlight {filter: drop-shadow(0 5px 10px var(--color_gold_light)) drop-shadow(0 2px 1px var(--shadow_22a29)) brightness(105%) sepia(50%) saturate(150%);}
    &.tl-downed {transition: all 0.3s ease; filter: drop-shadow(0 5px 10px var(--color_gold_light)) drop-shadow(0 2px 1px var(--shadow_22a29)) brightness(105%) sepia(50%) saturate(150%);}

    &[data-prevent_close="true"] {
      user-select: text;
      cursor: unset;
      &.tl-pinned {
        transition: all 0.3s ease;
      

        &::before {
          content: 'push_pin';
          font-family: 'Material Icons';
          font-size: 11pt;
          line-height: 1em;
          position: absolute;
          top: -5px;
          right: -5px;
          rotate: 45deg;
          filter: drop-shadow(0 2px 1px var(--shadow_22a29));
          opacity: 0.65;
          z-index: 9999;
          user-select: none;
          pointer-events: none;
        }
        &:has([data-parent-tooltip-pos^='right'])::before {
          right: auto;
          left: -5px;
          rotate: -45deg;
        }
        &:has([data-parent-tooltip-pos^='top'])::before {
          top: -20px;
        }
      }
    }
  
    &.show {
      pointer-events: all;
    }

    & tooltip-img {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: clamp(200px, 768px, 768px);
      height: clamp(200px, 90vh, 90vh);
      aspect-ratio: auto;

      border-radius: 25px;
      overflow: hidden;
      top: 50%;
      transform: translateY(-50%);
      left: 100%;
      transition: all 0.3s ease;
      user-select: none;
      & .tooltip-img-opened {
        background: var(--bg_efa80);
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: none;
      }
      &.view-side-left {
        left: auto;
        right: 100%;
      }
      &.view-side-right {
        left: 100%;
        right: auto;
      }
      &.view-side-top {
        left: 50%;
        bottom: 100%;
        transform: translateX(-50%);
      }
      &.view-side-bottom {
        left: 50%;
        top: 100%;
        transform: translateX(-50%);
      }
    }
  
    & .tl-content {
      max-height: 768px;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      background: var(--tooltip_body);
      padding: 10px 15px;
      line-break: auto;
      hyphens: auto;
      word-break: normal;
      white-space: normal;
      word-spacing: normal;
      word-wrap: break-word;
      z-index: 1;

      &:has(.Preview_tooltip) {
        padding: 0;
        padding-block-end: 10px;
        overflow: hidden;
      }
      & .Preview_tooltip {
        max-width: 384px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto 1em;
        gap: 0px;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        justify-content: start;
        margin: 0;
        &[data-blur="bottom"] .Preview_tooltip-imgWrapper {
          mask: linear-gradient(to bottom, black 0%, black 97%, transparent 100%);
          -webkit-mask: linear-gradient(to bottom, black 0%, black 97%, transparent 100%);
        }
        &[data-blur="top"] .Preview_tooltip-imgWrapper {
          mask: linear-gradient(to top, black 0%, black 97%, transparent 100%);
          -webkit-mask: linear-gradient(to top, black 0%, black 97%, transparent 100%);
        }
        &[data-blur="left"] .Preview_tooltip-imgWrapper {
          mask: linear-gradient(to left, transparent 0%, black 3%, black 97%, transparent 100%);
          -webkit-mask: linear-gradient(to left, transparent 0%, black 3%, black 97%, transparent 100%);
        }
        &[data-blur="right"] .Preview_tooltip-imgWrapper {
          mask: linear-gradient(to right, transparent 0%, black 3%, black 97%, transparent 100%);
          -webkit-mask: linear-gradient(to right, transparent 0%, black 3%, black 97%, transparent 100%);
        }
        &[data-blur="horizontal"] .Preview_tooltip-imgWrapper {
          mask: linear-gradient(to right, transparent 0%, black 3%, black 97%, transparent 100%);
          -webkit-mask: linear-gradient(to right, transparent 0%, black 3%, black 97%, transparent 100%);
        }
        &[data-blur="vertical"] .Preview_tooltip-imgWrapper {
          mask: linear-gradient(to bottom, transparent 0%, black 3%, black 97%, transparent 100%);
          -webkit-mask: linear-gradient(to bottom, transparent 0%, black 3%, black 97%, transparent 100%);
        }
        &[data-blur="full"] .Preview_tooltip-imgWrapper {
          mask: linear-gradient(to top, transparent 10%, black 12% 90%, transparent 95%), linear-gradient(to left, transparent 5%, black 7% 93%, transparent 95%);
          mask-size: 110% 110%;
          mask-position: center;
          mask-repeat: no-repeat;
          mask-composite: intersect;
        }
        & .Preview_tooltip-imgWrapper {
          --h: 170px;
          position: relative;
          width: 100%;
          height: var(--h);
          max-height: var(--h);
          overflow: hidden;
          transition: all 0.3s ease;
          & .Preview_tooltip-imgFull {
            color: var(--bg_ef);
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;;
            font-weight: 900;
            width: 24px;
            height: 24px;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            border: 2px solid var(--bg_ef);
            border-radius: 4px;
            filter: drop-shadow(0 0px 1px var(--text_33)) drop-shadow(0 1px 1px var(--text_33));
            transition: all 0.1s ease;
            user-select: none;
            cursor: pointer;
            z-index: 1;
            opacity: 0;
            &:hover {
              scale: 1.2;
              opacity: 0.9;
            }
            &:active {
              scale: 1.1;
            }
          }

          & img.Preview_tooltip-img {
            --imgOpacity: 1;
            --shift: center;
            width: 100%;
            height: 100%;
            object-fit: cover;
            scale: 1.05;
            object-position: var(--shift);
            transition: all 0.3s ease;
          }
          &:hover {
            & img.Preview_tooltip-img {
              scale: 1.5;
            }
          }
          &:active {
            & img.Preview_tooltip-img {
              scale: 1.2;
            }
          }
        }
        &[data-blur] img.Preview_tooltip-img {opacity: var(--imgOpacity);}
        & .Preview_tooltip-content {
          width: calc(100% - 15px);
          max-height: 512px;
          overflow: auto;
          display: flex;
          flex-direction: column;
          align-items: start;
          justify-content: start;
          gap: 10px;
          padding-inline: 5px;
          padding-block: 20px;

          scrollbar-color: var(--shadow_22a29) transparent;
          & ::-webkit-scrollbar-thumb {
            background-color: var(--shadow_22a29) transparent;
          }
        }
        & .Preview_tooltip-subscript {
          width: calc(100% - 15px);
          display: flex;
          height: 1.5em;
          font-size: 0.75em;
          font-style: italic;
          opacity: 0.5;
          padding-inline: 5px;
        }
      }
    }
  
    & .tl-arrow {
      position: absolute;
      display: block;
      width: 24px;
      height: 24px;
      background: var(--tooltip_body);
      mask: url('../../../resources/filters/triangle.svg') no-repeat;
      mask-size: 100% 100%;
      z-index: -1;
    
      &[data-parent-tooltip-pos^='bottom'] {
        top: -15px;
        left: 50%;
        bottom: auto;
        mask: url('../../../resources/filters/triangle_up.svg') no-repeat;
        mask-size: 100% 100%;
        background: var(--tooltip_top);
        translate: -50%;
      }
      &[data-parent-tooltip-pos^='top'] {
        left: 50%;
        bottom: -15px;
        background: var(--tooltip_bottom);
        translate: -50%;
      }
      &[data-parent-tooltip-pos^='right'] {
        top: 50%;
        left: -15px;
        translate: 0 -50%;
        rotate: 90deg;
      }
      &[data-parent-tooltip-pos^='left'] {
        top: 50%;
        right: -15px;
        translate: 0 -50%;
        rotate: -90deg;
      }
      &[data-parent-tooltip-pos='left-start'], &[data-parent-tooltip-pos='right-start'] {
        top: auto;
        bottom: 0px;
      }
      &[data-parent-tooltip-pos='left-end'], &[data-parent-tooltip-pos='right-end'] {
        top: 20px;
      }

      &[data-parent-tooltip-pos='top-start'], &[data-parent-tooltip-pos='bottom-start'] {
        left: 20px;
      }
      &[data-parent-tooltip-pos='top-end'], &[data-parent-tooltip-pos='bottom-end'] {
        left: auto;
        right: 0px;
      }
    
      &[data-parent-tooltip-pos^='bottom'] ~ .tl-close {
        border-radius: 0 0 10px 10px;
        width: 100%;
        height: 18px;
        bottom: -15px;
      }
      &[data-parent-tooltip-pos^='top'] ~ .tl-close {
        border-radius: 10px 10px 0 0;
        width: 100%;
        height: 18px;
        top: -15px;
        filter: drop-shadow(0 5px 5px var(--shadow_22a10));
      }
      &[data-parent-tooltip-pos^='right'] ~ .tl-close {
        border-radius: 0 10px 10px 0;
        width: 18px;
        height: 100%;
        top: 0;
        right: -15px;
        filter: drop-shadow(-5px 0 5px var(--shadow_22a10));
      }
      &[data-parent-tooltip-pos^='left'] ~ .tl-close {
        border-radius: 10px 0 0 10px;
        width: 18px;
        height: 100%;
        top: 0;
        left: -15px;
        filter: drop-shadow(5px 0 5px var(--shadow_22a10));
      }
    }
  
    & .tl-close {
      font-family: 'Material Icons';
      color: #aaa;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      background: var(--tooltip_body);
      font-size: 0.8em;
      user-select: none;
      cursor: pointer;
      z-index: 1;
      box-shadow: 2px 0 5px transparent;
    
      &:active {
        font-size: 0.65em;
      }
      &:hover {
        background: white;
        color: #555;
      }
    }


    &:has(.tl-arrow[data-parent-tooltip-pos^='bottom']):has(.tl-close) {
      .tl-content {
        border-radius: 10px 10px 0 0;
      }
    }
    &:has(.tl-arrow[data-parent-tooltip-pos^='top']):has(.tl-close) {
      .tl-content {
        border-radius: 0 0 10px 10px;
      }
    }
    &:has(.tl-arrow[data-parent-tooltip-pos^='right']):has(.tl-close) {
      .tl-content {
        border-radius: 10px 0 0 10px;
      }
    }
    &:has(.tl-arrow[data-parent-tooltip-pos^='left']):has(.tl-close) {
      .tl-content {
        border-radius: 0 10px 10px 0;
      }
    }

    &:has(tooltip-img):has(.tl-close) {
      & .tl-close {
          box-shadow: 1px 0 3px var(--shadow_22a29);
      }
    }

    &.tl-preview:has(.tl-arrow[data-parent-tooltip-pos^='right']):has(.tl-close) {& .tl-close {right: -18px;}}
    &.tl-preview:has(.tl-arrow[data-parent-tooltip-pos^='left']):has(.tl-close) {& .tl-close {left: -18px; &::before {left: auto; right: -3px; }}}

    &.tl-preview:has(.tl-arrow[data-parent-tooltip-pos^='bottom']):has(.tl-close) {& .tl-close {bottom: -18px; &::before {bottom: auto; left:auto; top: -3px; height: 3px; width: 100%; }}}
    &.tl-preview:has(.tl-arrow[data-parent-tooltip-pos^='top']):has(.tl-close) {& .tl-close {top: -18px;}}


    & ruby {
      font-size: 1.25rem;
    }
  }
  & .tooltip-h1 {
    width: 100%;
    display: inline-flex;
    align-items: start;
    justify-content: space-between;
    font-size: 1.75rem;
    font-family: var(--font_header_set);
    font-weight: 800;
    margin: 0;

    & .tooltip-logo{
      width: 1.5rem;
    }
  }
}

.tooltip-quest {
  text-decoration: underline dotted grey;
  text-underline-offset: 0.25em;
  color: var(--color_orange_gold);
  cursor: help;
  vertical-align: super;
  font-size: 0.85em;
}


.eventLess-Tooltip {
  --tl-mw: 100px;
  --tl-w: 100%;
  --tl-xw: 384px;
  position: relative;
  z-index: 1;

  &::after {
    content: attr(eventLess-tooltip);
    width: clamp(var(--tl-w), var(--tl-mw), var(--tl-xw));
    user-select: none;
    pointer-events: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
    background: var(--tooltip_body);
    padding: 10px;
    border-radius: 10px;
    font-size: 0.9rem;
    filter: drop-shadow(0 5px 10px var(--shadow_22a29)) drop-shadow(0 2px 1px var(--shadow_22a29));
    opacity: 0;
    transition: all 0.3s ease;
    z-index: 1080;
  }
  &.tl-bottom {
    &::after {
      bottom: auto;
      top: calc(100% + 5px);
    }
  }
  &.tl-right {
    &::after {
      left: auto;
      right: 50%;
      transform: translateX(50%);
    }
  }
  &.tl-left {
    &::after {
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &:hover {
    cursor: pointer;

    &::after {
      user-select: text;
      pointer-events: all;
      opacity: 1;
    }
  }
}
