.initLetter::first-letter {
  line-height: 1rem;
  font-size: 2em;
  font-weight: 800;
  margin-right: 0.1rem;
  color: var(--book_letter);
}
.initWord {
  font-size: 1.1em;
  font-weight: 800;
  color: var(--book_letter);

  &::after {
    content: '\2002\2006';
    user-select: none;
  }
}

.intends {
  & p:not(.initLetter) {
    text-indent: 1em;
  }
  & p.initLetter {
    text-indent: 40%;
  }
}

.v-writing {
  writing-mode: vertical-lr;
  text-orientation: upright;
  letter-spacing: 0.2em;

  &.rl {
    writing-mode: vertical-rl;
  }
}

.typo_text {
  text-align: justify;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  hyphenate-character: '\2010';
  line-break: auto;
  word-break: normal;
  white-space: normal;
  word-spacing: normal;
  word-wrap: break-word;
  line-height: 1.4em;
  hyphenate-limit-chars: 7 3 4;
  -webkit-hyphenate-limit-chars: 7 3 4;
  -ms-hyphenate-limit-chars: 7 3 4;
}

.rtl {
  direction: rtl;
}


.diacritic {
  --mleft: -0.25em;
  --top: 0.05em;
  position: relative;
  letter-spacing: 0.25em;
  top: var(--top);
  margin-left: var(--mleft);
}