:root {
  --bg_0084: #00000084;
  --bg_00ad: #000000ad;
  --bg_22: #222;
  --bg_22ee: #222222ee;
  --bg_33: #333;
  --bg_33ee: #333333ee;

  --bg_272830: #272830;
  --bg_272830ee: #272830ee;


  --banner_gradient_old: linear-gradient(#c29819, #c29819);
  --banner_gradient_new: linear-gradient(#3d67dc, #3d67dc);
  --preloader_gradient: linear-gradient(#223875, #3d67dc);

  --text_eff: #dae5ff;
  --text_abcefff: #abceff;
  --text_d0c: #d0c8b3;
  --text_d0c70: #d0c8b370;

  --rurikon: #1B294B;
  --higosusutake: #7F5D3B;
}



.root-container[data-active-interface="default"] {
  background: var(--bg_00ad);
  color: var(--text_d0c);
  backdrop-filter: blur(20px) invert(100%) sepia(50%) saturate(150%);

  & .root-container__header-block__inner-grid-section {
    background: var(--bg_22ee);
    box-shadow: 0 5px 5px var(--bg_00ad);
  }

  & .person-banner-wrapper {
    padding: 0;

    & .person-banner {
      border-radius: 0;

      &.aogurogetsu {
        &[data-banner="asanoha"] {
          background-image: var(--banner), var(--banner_gradient_old);
          filter: invert(1);
        }
      }
    }
  }

  & .person-avatar {
    background: transparent;
  }
}


link-block[data-link-class="default"] {

  &::part(link-plate__title),
  &::part(link-plate__subscription) {
    color: var(--text_d0c);
  }

  &:hover::part(link-plate__title),
  &:hover::part(link-plate__subscription),
  &:focus::part(link-plate__title),
  &:focus::part(link-plate__subscription) {
    color: var(--color_pale_gold);
  }

  &::part(link) {
    background: var(--bg_22);

  }

  &::part(link-plate-wrapper) {
    border-radius: 8px;
    box-shadow: 2px 3px 5px var(--bg_00ad);
  }

  &::part(link-plate__avatar) {
    background: var(--bg_22);
  }

  &:hover::part(link-plate__avatar),
  &:focus::part(link-plate__avatar) {
    background: var(--color_pale_gold);
  }

  &::part(link-type) {
    background: var(--higosusutake);
    box-shadow: inset 1px 2px 3px var(--shadow_00a95);
  }

  &:hover::part(link-type),
  &:focus::part(link-type) {
    background: var(--color_dark_gold);
    box-shadow: inset 2px 2px 3px var(--color_gold_hover_light), inset -2px -2px 3px var(--shadow_22a29), 2px 1.5px 1px var(--shadow_22a29);
    filter: saturate(125%) hue-rotate(-5deg);
  }

  &::part(link-type-image) {
    filter: brightness(80%) sepia(100%) saturate(1000%) hue-rotate(10deg);
  }

  &:hover::part(link-type-image),
  &:focus::part(link-type-image) {
    filter: brightness(450%) sepia(100%) saturate(300%) drop-shadow(0px 0.75px 1px var(--shadow_22a86));
  }

  &::part(link-plate__icon-image) {
    opacity: 0.25;
    filter: brightness(150%) sepia(100%) saturate(300%) ;
  }
}





/* --------------------- TOOLTIPS --------------------- */
tooltip-element {
  color: var(--text_d0c);
  filter: drop-shadow(0 5px 5px var(--shadow_22a64)) drop-shadow(0 2px 1px var(--bg_00ad));

  &.tooltip--highlight {
    filter: drop-shadow(0 5px 5px var(--color_gold_light)) drop-shadow(0 2px 1px var(--shadow_22a64)) brightness(105%) sepia(50%) saturate(150%);
  }

  &[data-prevent-auto-close="true"] {
    user-select: text;
    cursor: unset;

    &.tooltip--pinned {
      transition: all 0.15s ease;

      &::before {
        color: var(--text_d0c);
        opacity: 1;
        filter: drop-shadow(0 0px 1px var(--bg_00ad)) drop-shadow(0 2px 1px var(--bg_00ad)) brightness(105%) sepia(50%) saturate(150%);
      }
    }
  }

  & .tooltip__content {
    background: var(--bg_22);

    & .tooltip--previews {
      & .tooltip--previews__content {
        scrollbar-color: var(--text_d0c70) transparent;

        & ::-webkit-scrollbar-thumb {
          background-color: var(--text_d0c70) transparent;
        }
      }
    }

  }

  & .tooltip__arrow {
    background: var(--bg_22);
  }

  & .tooltip__button-close {
    background: var(--bg_33);
  }
}


.tooltip--event-less {
  &::after {
    filter: drop-shadow(0 5px 5px var(--shadow_22a64)) drop-shadow(0 2px 1px var(--bg_00ad));
    background: var(--bg_22);
  }
}