:root {
  --bg_0084: #00000084;
  --bg_00ad: #000000ad;
  --bg_22: #222;
  --bg_33: #333;

  --bg_272830: #272830;
  --bg_272830ee: #272830df;
  --bg_383b48: #383b48;


  --banner_gradient_old: linear-gradient(#c29819, #c29819);
  --banner_gradient_new: linear-gradient(#3d67dc, #3d67dc);
  --preloader_gradient: linear-gradient(#223875, #3d67dc);

  --text_dae5ff: #dae5ff;
  --text_eff: #c8d5e0;
  --text_eff70: #c8d5e070;
  --text_abcefff: #abceff;
  --text_d0c: #d0c8b3;
  --text_d0c70: #d0c8b370;

  --rurikon: #1B294B;
}


page-preloader, #preloader {
  background-image: url(../../../resources/svg/pattern_asanoha_90deg_invert.svg), var(--preloader_gradient);
  color: var(--text_eff);

  & .preloader-logo {
    border: 10px solid var(--text_eff);
    filter: brightness(100%) drop-shadow(0px 0px 1px var(--rurikon)) drop-shadow(0px 3px 1px var(--e1eaff));
  }
  & .preloader-logo-image {
    filter: brightness(100%) drop-shadow(0px 0px 1px var(--rurikon)) drop-shadow(0px 3px 1px var(--e1eaff));
    translate: -50% -52px;
  }
}

.progress-value::after {
  background-color: var(--text_abcefff);
  box-shadow: inset 3px 3px 3px 1px var(--text_eff), 0 1px 3px 1px var(--shadow_22a86);
}

@keyframes pulsedLoadingProgress {
  0% {
    filter: brightness(100%) drop-shadow(0px 3px 1px var(--text_eff));
  }

  10% {
    filter: brightness(200%) drop-shadow(0px 3px 1px var(--text_eff));
  }

  25% {
    filter: brightness(200%) drop-shadow(0px 3px 10px var(--text_abcefff));
  }
}


[container="root"][actived="default"] {
  background: var(--bg_00ad);
  color: var(--text_eff);
  backdrop-filter: blur(20px) invert(100%);
  & #site-header {
    background: var(--bg_272830ee);
    box-shadow: 0 5px 5px var(--bg_00ad);
  }

  & .personBannerWrapper {
    padding: 0;
    & .personBanner {
      border-radius: 0;
      &.aogurogetsu {
        &[data-banner="asanoha"] {
          background-image: var(--banner), var(--banner_gradient_old);
          filter: invert(1);
        }
      }
    }
  }

  & .personAvatar {
    background: transparent;
  }
}


link-block[link_class="default"] {
  &::part(link-title), &::part(link-subscript) {
    color: var(--text_eff);
  }
  &:hover::part(link-title), &:hover::part(link-subscript), &:focus::part(link-title), &:focus::part(link-subscript) {
    color: var(--text_abcefff);
  }
  &::part(link) {
    background: var(--bg_272830);
    
  }
  &::part(link-wrapper) {
    border-radius: 8px;
    box-shadow: 2px 3px 5px var(--bg_00ad);
  }
  &::part(link-image) {
    background: var(--bg_272830);
  }
  &:hover::part(link-image), &:focus::part(link-image) {
    background: var(--text_abcefff);
  }

  &::part(link-type) {
    background: var(--rurikon);
    box-shadow: inset 1px 2px 3px var(--shadow_00a95);
  }
  &:hover::part(link-type), &:focus::part(link-type) {
    background: var(--color_dark_gold);
    box-shadow: inset 2px 2px 3px var(--color_gold_hover_light), inset -2px -2px 3px var(--shadow_22a29), 2px 1.5px 1px var(--shadow_22a29);
    filter: hue-rotate(-180deg);
  }
  &::part(link-type-image) {
    filter: brightness(100%) sepia(100%) saturate(1000%) hue-rotate(-30deg);
  }
  &:hover::part(link-type-image), &:focus::part(link-type-image) {
    filter: brightness(450%) sepia(100%) saturate(300%) drop-shadow(0px 0.75px 1px var(--shadow_22a86)) hue-rotate(-180deg);
  }
  &::part(link-icon-image) {
    opacity: 0.25;
    filter: brightness(150%) sepia(100%) saturate(300%) hue-rotate(-180deg);
  }
}



/* --------------------- TOOLTIPS --------------------- */
tooltip-element {
  color: var(--text_eff);
  filter: drop-shadow(0 5px 5px var(--shadow_22a64)) drop-shadow(0 2px 1px var(--bg_00ad));
  &.tl-highlight {
      filter: drop-shadow(0 5px 5px var(--color_gold_light)) drop-shadow(0 2px 1px var(--shadow_22a64)) brightness(105%) sepia(50%) saturate(150%) hue-rotate(190deg);
  }
  &[data-prevent_close="true"] {
    user-select: text;
    cursor: unset;
    &.tl-pinned {
      transition: all 0.15s ease;
      &::before {
        color: var(--text_eff);
        opacity: 1;
        filter: drop-shadow(0 0px 1px var(--bg_00ad)) drop-shadow(0 2px 1px var(--bg_00ad)) brightness(105%);
      }
    }
  }
      
  & .tl-content {
    background: var(--bg_272830);
    & .Preview_tooltip {
      & .Preview_tooltip-content {
          scrollbar-color: var(--text_eff70) transparent;
          & ::-webkit-scrollbar-thumb {
            background-color: var(--text_eff70) transparent;
          }
      }
    }

  }
  & .tl-arrow {
    background: var(--bg_272830);
  }

  & .tl-close {
    background: var(--bg_383b48);
  }
}

.eventLess-Tooltip {
  &::after {
    filter: drop-shadow(0 5px 5px var(--shadow_22a64)) drop-shadow(0 2px 1px var(--bg_00ad));
    background: var(--bg_272830);
  }
}








/* --------------------- TOOLTIPS --------------------- */