:root {
  --yamabukiiro: #FFA400;
  --kihada: #F3C13A;
  --kihada60: #F3C13A60;
  --hivairo: #BDA928;
  --hivairo80: #BDA92880;
  --aikobucha: #473F2D;
  --miruiro: #524B2A;
  --miruiro80: #524B2A80;
  --kourozen: #592B1F;
  --kinsusutake: #7D4E2D;
  --miruiroToAikobucha: linear-gradient(180deg, var(--kinsusutake) 15%, var(--kourozen) 100%);
  --momoiro: #F47983;
  --momolight: #ffece1;
  --benifuji: #BB7796;
  --benifujiLight: #de9ab9;
  --suou: #7E2639;
  --suouLight: #fbdfe2;
  --suouDark: #471722;
}

[container="root"][actived="default"] {
  background: var(--kihada60);
  color: var(--suou);
  & .links_Wrapper {
    & hr {
      border-top-color: var(--suouDark);
    }
  }
  & #site-header {
    position: relative;
    background: var(--miruiroToAikobucha);
    color: var(--suouLight);
    box-shadow: 0 5px 5px var(--aikobucha);
    border: 10px solid var(--aikobucha);
    border-bottom: 0;
    z-index: 1;
    &::before {
      position: absolute;
      content: '';
      height: 100%;
      width: 100%;
      inset: 0;
      background: url(../../../resources/svg/pattern_yagasuri.svg) repeat;
      background-size: 200%;
      background-position: 48% 54.5%;
      filter: brightness(50%);
      z-index: -1;
    }
    &::after {
      position: absolute;
      content: '';
      height: 100%;
      width: 100%;
      inset: 0;
      background: url(../../../resources/svg/pattern_yagasuri.svg) repeat;
      background-size: 200%;
      background-position: 56.5% 50%;
      filter: brightness(60%);
      scale: -1;
      z-index: -2;
    }
  }
  & .personBannerBorder {
    height: 136px;
    --wrap_border_color: var(--momoiro);
    --wrap_border_inset: 12px;
    --wrap_border_radius: 10px;
    filter: drop-shadow(0 0 2px var(--shadow_22a64)) drop-shadow(0 5px 5px var(--shadow_22a29));
  }
  & .personBannerWrapper {
    width: 100%;
    --corner_radius: 35px;
    --border_width: 5px;
    --wrap_border_color: transparent;
    --border_color: var(--momoiro);
    --shape: var(--shape_tlbr);
    --border: var(--border_tlbr);
    z-index: -1;
    & .personBanner {
      border-radius: 0;
      z-index: -1;
      &.azumatsuyu {
        &[data-banner="asanoha"] {
          filter: invert(1) hue-rotate(180deg);
        }
      }
    }
  }
  & .personAvatar {
    width: 256px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    padding: 0px;
    background: transparent;
    box-shadow: 0 2px 10px var(--shadow_22a64);
    backdrop-filter: blur(2px);
  }
  & .avatarWrapper {
    width: 180px;
    height: 128px;
    border-radius: 0;
    padding: 0px;
    --corner_radius: 25px;
    --border_width: 5px;
    --border_color: var(--momoiro);
    --wrap_border_color: transparent;
    background: transparent;
    z-index: 1;

    & img {
      z-index: -1;
    }
  }
  & .copyright {
    color: var(--suou);
  }
  & .ambientControls {
    & .trackInfo {
      color: var(--suou);
      text-shadow: 0 1px 5px var(--momoiro);

      & .trackProgress {
        &::before {
          background: var(--suou);
        }

        &::after {
          background: var(--momoiro);
        }
      }
    }

    & button {
      color: var(--suou);
      border-color: var(--suou);
    }
  }
}


link-block[link_class="default"] {  
  filter: drop-shadow(0 0 2px var(--shadow_22a64)) drop-shadow(0 5px 5px var(--shadow_22a29));
  &.inactive {
    filter: drop-shadow(0 0 2px var(--shadow_22a64)) drop-shadow(0 5px 5px var(--shadow_22a29)) grayscale(1);
    &:hover {
      filter: drop-shadow(0 0 2px var(--shadow_22a64)) drop-shadow(0 5px 5px var(--shadow_22a29));
    }
  }

  &::part(link-title), &::part(link-subscript) {
    color: var(--suouDark);
  }
  &:hover::part(link-title), &:hover::part(link-subscript), &:focus::part(link-title), &:focus::part(link-subscript) {
    color: var(--momoiro);
  }

  &::part(link) {
    background: var(--momolight);
    z-index: -1;
  }
  &::part(link-image) {
    background: var(--momolight);
    border-radius: 10px;
  }
  &::part(link-wrapper) {
    --corner_radius: 20px;
    --border_color: var(--momoiro);
    --border_width: 2px;
    --wrap_border_color: transparent;
    --shape: var(--shape_l);
    --border: var(--border_l);
  }

  &::part(link-type) {
    background: var(--benifujiLight);
    box-shadow: inset 1px 2px 3px var(--shadow_22a29);
  }
  &:hover::part(link-type), &:focus::part(link-type) {
    background: var(--color_dark_gold);
    box-shadow: inset 2px 2px 3px var(--color_gold_hover_light), inset -2px -2px 3px var(--shadow_22a29), 2px 1.5px 1px var(--shadow_22a29);
    filter: hue-rotate(-80deg);
  }
  &::part(link-type-image) {
    filter: brightness(110%) sepia(100%) saturate(1000%) hue-rotate(-70deg);
  }
  &:hover::part(link-type-image), &:focus::part(link-type-image) {
    filter: brightness(500%) sepia(100%) saturate(300%) drop-shadow(0px 0.75px 1px var(--shadow_22a29)) hue-rotate(-40deg);
  }
  &::part(link-icon-image) {
    opacity: 0.25;
    filter: brightness(150%) sepia(100%) saturate(300%) hue-rotate(-80deg);
  }
}