:root {
  --oudoiro: #BE7F51;
  --oudoiro60: #BE7F5160;
  --kogecha: #351F19;
  --kogecha70: #351F1970;
  --kogechaLight: #65534e;

  --text_efcba6: #efcba6;
}




.root-container[data-active-interface="default"] {
  background: var(--oudoiro60);
  color: var(--text_efcba6);

  & .copyright {
    color: var(--kogecha);
  }

  & .ambient-music-controls {
    & .ambient-music-controls__track_info {
      color: var(--kogecha);
      text-shadow: 0 1px 5px var(--oudoiro);

      & .track-info__player-progress {
        &::before {
          background: var(--kogecha);
        }

        &::after {
          background: var(--oudoiro);
        }
      }
    }

    & button {
      color: var(--kogecha);
      border-color: var(--kogecha);
    }
  }


  & .root-container__header-block__inner-grid-section {
    background: var(--kogecha70);
  }

  & .person-banner-wrapper {
    width: 95%;
    margin-block-start: 9px;
    --corner_radius: 25px;
    --border_width: 8px;
    --wrap_border_color: transparent;
    --border_color: var(--kogechaLight);
    z-index: -1;
    & .person-banner {
      border-radius: 0;
      z-index: -1;
    }
  }

  & .person-avatar {
    border-radius: 0;
    padding: 5px;
    background: var(--kogechaLight);
  }

  & .link-plates-section {
    & :is(h1, h2, h3, h4, h5, h6) {
      color: var(--kogecha);
    }
    & hr {
      border-top-color: var(--kogechaLight);
    }
  }

}

link-block[data-link-class="default"] {
  &::part(link-plate__title), &::part(link-plate__subscription) {
    color: var(--text_efcba6);
  }
  &:hover::part(link-plate__title), &:hover::part(link-plate__subscription), &:focus::part(link-plate__title), &:focus::part(link-plate__subscription) {
    color: var(--color_gold_hover);
  }

  &::part(link), &::part(link-plate__avatar), &::part(link-plate-wrapper) {
    border-radius: 0;
  }

  &::part(link) {
    background: var(--kogecha);
  }
  &::part(link-plate__avatar) {
    background: var(--kogechaLight);
  }

  &::part(link-type) {
    background: var(--oudoiro);
    box-shadow: inset 1px 2px 3px var(--shadow_22a86);
  }
  &:hover::part(link-type), &:focus::part(link-type) {
    background: var(--color_dark_gold);
    box-shadow: inset 2px 2px 3px var(--color_gold_hover_light), inset -2px -2px 3px var(--shadow_22a29), 2px 1.5px 1px var(--shadow_22a29);
  }
  &::part(link-type-image) {
    filter: brightness(100%) sepia(100%) saturate(1000%);
  }
  &:hover::part(link-type-image), &:focus::part(link-type-image) {
    filter: brightness(450%) sepia(100%) saturate(300%) drop-shadow(0px 0.75px 1px var(--shadow_22a86));
  }
  &::part(link-plate__icon-image) {
    opacity: 1;
    filter: brightness(150%) sepia(100%) saturate(300%);
  }
}