html {
  font-size: 12pt;
  line-height: 1.45em;
}

@media (max-width: 1200px) {

}

*, ::after, ::before {
  scroll-behavior: smooth;
  box-sizing: border-box;
  line-height: 1.45em;
}

p, hr {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cormorant Garamond', 'Noto Serif JP', 'Noto Serif TC', 'Noto Serif KR', 'Noto Color Emoji', serif;
  margin: 0;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.60rem;
}

h3 {
  font-size: 1.45rem;
}

h4 {
  font-size: 1.30rem;
}

h5 {
  font-size: 1.15rem;
}

h6 {
  font-size: 1.00rem;
}


a {
  text-decoration: none;
  color: var(--color_orange_gold);
}

a.listButton:hover,
a:hover {
  color: var(--color_gold_hover);
}

a:focus,
a:active {
  color: var(--color_pale_gold);
}

a.listButton {
  color: var(--text_primary);
}

ruby rt {
  font-family: sans-serif;
}

.ruby_bottom {
  ruby-position: under;
}

.ruby_bottom>ruby {
  ruby-position: over;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color_pale_gold_semi_light) var(--shadow_inset_info);

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color_pale_gold_semi_light) var(--shadow_inset_info);
  }
}

*::selection {
  background-color: var(--color_dark_gold);
  color: var(--text_very_light);
  text-shadow: 1px 1px 3px #000000;
}


img {
  color: transparent;
  font-size: 0;
  text-indent: -9999px;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  position: relative;
  height: 100vh;
  font-family: var(--font_common_set);
  color: var(--text_primary);
  background: url(https://images.pexels.com/photos/1440476/pexels-photo-1440476.jpeg) no-repeat fixed center center;
  background-size: cover;
}

rt {
  font-size: 0.5em;
}


no-br {
  display: inline;
  white-space: nowrap;
}

char-name {
  display: inherit;
}
char-name::first-letter {
  color: var(--book_letter);
  font-weight: 800;
}
/* SAMPLE OF BLUR BORDER
main {
  position: relative;
  mask: var(--border_transparency);
  height: 200px;
  overflow: auto;
  margin-top: 20px;
  z-index: 1;
}
*/

