html {
  font-size: 12pt;
  line-height: 1.45em;
}

@media (750px <= width <= 1200px) {

}

*, ::after, ::before {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

p, hr {
  margin: 0;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cormorant Garamond', 'Noto Serif JP', 'Noto Serif TC', 'Noto Serif KR', 'Noto Color Emoji', serif;
  margin: 0;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.60rem;
}

h3 {
  font-size: 1.45rem;
}

h4 {
  font-size: 1.30rem;
}

h5 {
  font-size: 1.15rem;
}

h6 {
  font-size: 1.00rem;
}


a {
  text-decoration: none;
  color: var(--color_orange_gold);

  &.listButton {
    color: var(--text_33);
  }

  &.listButton:hover, &:hover {
    color: var(--color_gold_hover);
  }

  &:focus, &:active {
    color: var(--color_pale_gold);
  }
}

ruby {
  & rt {
    font-family: sans-serif;
    font-size: 0.5em;
  }

  &.ruby_bottom {
    ruby-position: under;

    & ruby {
      ruby-position: over;
    }
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color_pale_gold_semi_light) var(--shadow_22a29);

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color_pale_gold_semi_light) var(--shadow_22a29);
  }

  ::selection {
    background-color: var(--color_dark_gold);
    color: var(--text_fe);
    text-shadow: 1px 1px 3px #000000;
  }
}  


img {
  color: transparent;
  font-size: 0;
  text-indent: -9999px;
}

:has(img:not([alt])) {
  background: red;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  position: relative;
  height: 100vh;
  color: var(--text_33);
  font-family: var(--font_common_set);
  background: url(https://images.pexels.com/photos/1440476/pexels-photo-1440476.jpeg) no-repeat fixed center center;
  background-size: cover;
}


no-br {
  display: inline;
  white-space: nowrap;
}

char-name {
  display: inherit;

  &::first-letter {
    color: var(--book_letter);
    font-weight: 800;
  }
}
/*
.diacritic_upper {
  position: relative;
  display: inline;

  &::before {
    position: absolute;
    width: 1ch;
    right: 50%;
    translate: 0 0.05em;
  }
  &.upcase {
    &::before {
      translate: 0 -0.1em;
    }
  }
}

.diacritic_lower {
  position: relative;
  display: inline;

  &::before {
    position: absolute;
    right: 50%;
    translate: 0 0;
  }
}

d-mac {
  &::before {
    content: '\0304';
  }
}

d-cir {
  &::before {
    content: '\0302';
  }
}

d-car {
  &::before {
    content: '\030C';
  }
}

d-til {
  &::before {
    content: '\0303';
  }
}

d-bre {
  &::before {
    content: '\0306';
  }
}


d-dia {
  &::before {
    content: '\0308';
  }
}

d-dot {
  &::before {
    content: '\0307';
  }
}

d-ced {
  &::before {
    content: '\0327';
  }
}
*/












/* SAMPLE OF BLUR BORDER
main {
  position: relative;
  mask: var(--border_transparency);
  height: 200px;
  overflow: auto;
  margin-top: 20px;
  z-index: 1;
}
*/