:root {
  --white: #fff;

  --shadow_22a10: #22222210;
  --shadow_22a29: #22222229;
  --shadow_22a64: #22222264;
  --shadow_22a86: #22222286;
  --shadow_00a95: #00000095;

  --text_33: #333;
  --text_d5: #d5d5d5;
  --text_ee: #eee;
  --text_ed: #ededed;
  --text_fe: #fefefefe;
  --text_a4: #A4A4A4;
  --text_8d: #8d8d8d;

  --bg_ff: #FFFFFF;
  --bg_ffd0: #FFFFFFd0;
  --bg_00ab3: #000000B3;
  --bg_ffab3: red;
  --bg_ffab0: #FFFFFFB0;
  --bg_ffab3: #FFFFFFB3;
  --bg_ffaf0: #FFFFFFF0;
  --bg_ffa80: #FFFFFF80;
  --bg_ef: #efefef;
  --bg_efab3: #efefefb3;
  --bg_efa80: #efefef80;

  --bg_gr_efToff: linear-gradient(0deg, var(--bg_ef), var(--bg_ff));
  --bg_gr_efToff_b3: linear-gradient(0deg, var(--bg_efab3), var(--bg_ffab3));
  --bg_gr_efToff_80: linear-gradient(0deg, var(--bg_efa80), var(--bg_ffa80));

  --btn_ff: #ffffff;

  --text_primary: #333;
  --text_lightgrey: #d5d5d5;
  --text_light: #eee;
  --text_very_light: #fefefefe;
  --text_mid_grey: #A4A4A4;

  --text_options: #ededed;

  --background_circle_button: white;
  --button_light: #ffffff48;
  --white_border: #ffffff20;
  --light_border: #ebedf0;
  --mid_border: #d3d3d3;
  --grey_border: #b3b3b3;
  --border_grey_entity: 1px solid var(--grey_border);

  --banner_gradient: linear-gradient(45deg, #c29819, #f0b607);
  --avatar_background_gradient: linear-gradient(193deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 24%, rgba(255, 255, 255, 1) 69%, rgba(238, 238, 238, 1) 90%, rgba(254, 254, 254, 1) 100%);


  --tooltip_body: linear-gradient(0deg, #efefef, #ffffff);
  --tooltip_body_pinned: linear-gradient(0deg, #eeeedb, #ffffed);
  --tooltip_bottom: #efefef;
  --tooltip_top: #ffffff;

  --color_dark_gold: #E1AA4B;
  --color_dark_gold_emboss: #fbc76e;
  --color_orange_gold: #E08A1E;
  --color_gold_hover: #FEDB1D;
  --color_gold_hover_pre_light: #FFE727;
  --color_gold_hover_light: #FFF527;
  --color_pale_gold_semi_light: #ffd228;
  --color_pale_gold: #E2B13C;
  --color_dirty_gold: #C29819;
  --color_gold_selected: #EBC824;
  --color_gold_light: #ffed9a;

  --kamon_red: #dc4032;
  --kamon_red_shadow_dark: #70231c9a;
  --kamon_red_shadow_light: #ffada5;

  --water_element_gradient: linear-gradient(to top, #4575b5, #7db9e8, #b6e2ff);
  --metal_element_gradient: linear-gradient(to top, #9b9b9b, #e4e4e4, #e8e8e8);

  --gallery_banner: #CA6924;
  --gallery_banner_border: #FFA400;
  --gallery_emboss_up: #eb7a2a;
  --gallery_emboss_down: #794017;

  --gallery_selected_bg: #9F5233;
  --gallery_selected_border: #914b2e;


  --mythical_banner: #363636;
  --mythical_banner_lighted: #535353;
  --mythical_bg: #303030;
  --mythical_br: #494949;
  --mythical_emboss_up: #5e5e5e;
  --mythical_emboss_down: #212121;
  --start_banner: #CA6924;
  --start_emboss_up: #eb7a2a;
  --start_emboss_down: #794017;


  --great_banner: #9D2933;
  --great_banner_lighted: #9D2933;
  --great_bg: #913232;
  --great_br: #913232;
  --great_emboss_up: #C91F37;
  --great_emboss_down: #5a2525;


  --normal_banner: #25619d;
  --normal_banner_lighted: #2a69a8;
  --normal_bg: #2f557a;
  --normal_br: #25619d;
  --normal_emboss_up: #2f78c1;
  --normal_emboss_down: #2f3e4d;

  --gold_banner: #CB7E1F;
  --gold_banner_lighted: #CB7E1F;
  --gold_bg: #a35e14;
  --gold_br: #CB7E1F;
  --gold_emboss_up: #FFA631;
  --gold_emboss_down: #8f5821;

  --rarity_color_black: linear-gradient(-25deg, #282828, #626262);
  --rarity_color_god: linear-gradient(-25deg, #ebebeb, #bebebe);
  --rarity_color_legendary: linear-gradient(-25deg, #4bc6d1, #51859a);
  --rarity_color_red: linear-gradient(-25deg, #d14b4b, #9a5151);
  --rarity_color_gold: linear-gradient(-25deg, #d1934b, #9a7251);
  --rarity_color_highnoble: linear-gradient(-25deg, #d0cd69, #8d9566);
  --rarity_color_venerable: linear-gradient(-25deg, #d069a7, #95667d);
  --rarity_color_normal: linear-gradient(-25deg, #69a0d0, #668495);
  --rarity_color_uncommon: linear-gradient(-25deg, #96d069, #769566);
  --rarity_color_common: linear-gradient(-25deg, #d1d1d1, #8f8f8f);



  --border_transparency: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 3%, rgba(0, 0, 0, 1) 97%, rgba(0, 0, 0, 0) 100%);
  --mask_chinese: radial-gradient(var(--inner_corner) at var(--inner_corner) var(--inner_corner), #0000 98%, #000) calc(-1*var(--inner_corner)) calc(-1*var(--inner_corner));


  --book_letter: #188794;
}
