.rotate--90 {
  transform: rotate(-90deg);
}

.rotate--180 {
  transform: rotate(-180deg);
}

.rotate--270 {
  transform: rotate(-270deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-270 {
  transform: rotate(270deg);
}


.rotate-45 {
  transform: rotate(45deg);
}

.rotate--45 {
  transform: rotate(-45deg);
}


.vertical_kanji {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  white-space: nowrap;
}

.text_small {
  font-size: 0.9em;
}

.pointer {
  cursor: pointer;
}

.question {
  cursor: help;
}

.show_note {
  position: relative;
  z-index: 1;
}

.show_note::before {
  content: "";
  position: absolute;
  top: -2.5px;
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 5px);
  background: var(--color_dark_gold_emboss);
  border-radius: 5px;
  z-index: -1;
}