.rotate--90 {
  rotate: -90deg;
}

.rotate--180 {
  rotate: -180deg;
}

.rotate--270 {
  rotate: -270deg;
}

.rotate-90 {
  rotate: 90deg;
}

.rotate-180 {
  rotate: 180deg;
}

.rotate-270 {
  rotate: 270deg;
}

.rotate-45 {
  rotate: 45deg;
}

.rotate--45 {
  rotate: -45deg;
}


.vertical_kanji {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  white-space: nowrap;
}

.text_small {
  font-size: 0.9em;
}

.pointer {
  cursor: pointer;
}

.question {
  cursor: help;
}


ol:has(.foot-note) {
  counter-reset: li;
  padding: 0 5px;
  list-style-position: inside;
  list-style: none;
}

.foot-note {
  position: relative;
  cursor: pointer;
  text-indent: 0;
  padding: 0 5px 0 12px;
  z-index: 1;

  &::after {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    vertical-align: super;
    font-size: 0.6rem;
    left: 0.5em;
    top: 3px;
    z-index: 2;
  }
}

.show_note {
  position: relative;
  z-index: 1;
  
  &::before {
    content: "";
    position: absolute;
    top: -2.5px;
    left: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 5px);
    background: var(--color_dark_gold_emboss);
    border-radius: 7px;
    z-index: -1;
  }
}
